<div style="opacity: 1">
  <div id="work" class="container py-5 mt-lg-0 mt-3">
    <p class="workTitle">MY WORK</p>
    <h2 class="workHeading">RECENT WORK</h2>
    <ul class="mb-3 nav nav-tabs" id="controlled-tab-example" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          type="button"
          id="controlled-tab-example-tab-graphic"
          role="tab"
          data-rr-ui-event-key="graphic"
          aria-controls="controlled-tab-example-tabpane-graphic"
          aria-selected="true"
          class="nav-link active"
        >
          Graphic Design
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          type="button"
          id="controlled-tab-example-tab-apps"
          role="tab"
          data-rr-ui-event-key="apps"
          aria-controls="controlled-tab-example-tabpane-apps"
          aria-selected="false"
          tabindex="-1"
          class="nav-link"
        >
          Apps
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          type="button"
          id="controlled-tab-example-tab-software"
          role="tab"
          data-rr-ui-event-key="software"
          aria-controls="controlled-tab-example-tabpane-software"
          aria-selected="false"
          tabindex="-1"
          class="nav-link"
        >
          Software
        </button>
      </li>
    </ul>
    <div class="tab-content">
      <div
        role="tabpanel"
        id="controlled-tab-example-tabpane-graphic"
        aria-labelledby="controlled-tab-example-tab-graphic"
        class="fade tab-pane active show"
      >
        <div class="row">
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-1-C4nS0eD8.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-2-D-4H1m4L.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-3-pR2ZEVY9.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-4-tHccITd-.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        role="tabpanel"
        id="controlled-tab-example-tabpane-apps"
        aria-labelledby="controlled-tab-example-tab-apps"
        class="fade tab-pane"
      >
        <div class="row">
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-5-lAucr__a.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-6-DFW03AZ3.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-5-lAucr__a.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-6-DFW03AZ3.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        role="tabpanel"
        id="controlled-tab-example-tabpane-software"
        aria-labelledby="controlled-tab-example-tab-software"
        class="fade tab-pane"
      >
        <div class="row">
          <div class="col-md-6">
            <div
              class="project"
              style="background-image: url('/assets/img-1-C4nS0eD8.jpg')"
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="background-image: url('/assets/img-2-D-4H1m4L.jpg')"
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-5-lAucr__a.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="project"
              style="
                background-image: url('./../../assets/images/img-6-DFW03AZ3.jpg');
              "
            >
              <div class="desc pt-4">
                <div class="con">
                  <h3><a href="work.html">Work 02</a></h3>
                  <span>Animation</span>
                  <p class="icon">
                    <span
                      ><a href="#"
                        ><i class="fa-solid fa-share-nodes"></i></a></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-eye"></i> 100</a
                      ></span
                    ><span
                      ><a href="#"
                        ><i class="fa-regular fa-heart"></i> 49</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="showMoreButton btn btn-primary">
      Show More
    </button>
  </div>
</div>
