<div id="sidebar" class="d-flex flex-column bg-white vh-100">
  <div class="Image-personal">
    <img src="./../../assets/images/about-BgAkqdr2.jpg" alt="" />
  </div>
  <h1>Jackson Ford</h1>
  <p class="descreption"><a href="#">UI/UX/Designer</a> in Philippines</p>
  <a class="nav-link" routerLinkActive="text-primary" routerLink="/home"
    >Home</a
  >
  <a class="nav-link" routerLinkActive="text-primary" routerLink="/about"
    >About</a
  >

  <a class="nav-link" routerLinkActive="text-primary" routerLink="/skills"
    >skills</a
  >
  <a class="nav-link" routerLinkActive="text-primary" routerLink="/experience"
    >experience</a
  >
  <a class="nav-link" routerLinkActive="text-primary" routerLink="/Work"
    >work</a
  >
</div>
